*{
    box-sizing: border-box;
    font-family: exo, sans serif;
    transition: all .5s;
}

.bg-normal{
    background-color: #495983;
    color: white;
    transition: all .5s;
}

.btn-normal{
    background-color: #495983;
    color: white;
    transition: all .5s;
    border: none;
}

.btn-normal-outline{
    background-color: white;
    border: 1px solid #495983;
    color: black;
    transition: all .5s;
}

.btn-normal:hover{
    background-color: #222836;
    color: white;
    transition: all .5s;
    border: none;
}

.btn-normal-outline:hover{
    background-color: #222836;
    color: white;
    transition: all .5s;
}

.glass{
    background: rgba(#495983, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10.5px);
    backdrop-filter: blur(10px);
    transition: all .5s;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.2s ease-out, transform 0.6s ease-out;
    will-change: opacity, visibility;
  }
  
  .fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }