*{
    box-sizing: border-box;
    font-family: exo, sans serif;
}

.btn-normal{
    background-color: #131822;
    color: white;
    transition: all .5s;
}

.btn-normal:hover{
    background-color: #333b4d;
    transition: all .5s;
}
